.carousel-control-prev,.carousel-control-next{
    width:4%;height:20%;
    background-color:#aaa;
    top:40%;
    border-radius:0.25rem;
}
.carousel-control-prev{left: 0.25rem;}
.carousel-control-next{right:0.25rem;}
.carousel-indicators li{

    background-color:#fff;
    border-radius:50%;

}
.carousel-indicators .active{
    background:#0aa1ed;
}
@media (min-width: 992px) {
    .carousel-indicators li{
        width:0.8rem;height:0.8rem;
        margin-left: 0.4rem;
        margin-right: 0.4rem;
    }
}
@media (max-width: 991px) {
    .carousel-indicators li{
        width:0.4rem;height:0.4rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
}
.border-bottom{
    border-bottom-width: 0.2rem !important;

}
.top_height{
    height:377px;
    background:#e8e8e8;
}
.bottom_height{
    height: 233px;
    background:#e8e8e8;
}
.text-small{font-size:0.8rem;}
.w-35{width:35% }
.img1_position{
    margin-top:-200px;
    margin-right: 10px;
    transition: 1s;
}
.img1_position:hover{
    transform: scale(1.1);
}
@media(min-width:576px){
    .img2_position{
        margin-top:-200px;
        margin-right: 24px;
        transition: 1s;
    }
}
@media(min-width: 992px){
    .img2_position:hover{
        transform: scale(1.1);
    }
}
.img3_position{
    margin-top:-131px;
    margin-right: 24px;
    transition: 1s;
}
.img3_position:hover{
    transform: scale(1.1);
}
.img4_position{
    transition: 1s;
}
.img4_position:hover{
    transform: scale(1.1);
}
